/* - - - - - - - - - - - - - - */
/*       V A R I A B L E S     */
/* - - - - - - - - - - - - - - */

:root {
    --ff-heading: "Sansita Swashed", system-ui;
    --ff-body: "Sahitya", serif;
    --ff-special: "Roboto Flex", sans-serif;

    --cl-primary: #ffffff;
    --cl-second: #00FFFF;
    --cl-third: #ff5de2;
    --cl-fourth: #1c1c2c;
    --cl-fiventh: #000000;
    --cl-sixth: #f43c04;
    --cl-seventh: #0c0c24;
    --glow-color: #dab3ff;
    --glow-spread-color: #bf7bffc7;
    --enhanced-glow-color: #e7ceff;
    --btn-color: #643d88;
}

/* - - - - - - - - - */
/* P R E L O A D */
/* - - - - - - - - - */

/* body:after {
    position: absolute;
    height: 0;
    overflow: hidden;
    width: 0;
    z-index: -1;
    content:url(../images/btn-enter-hover.png),
            url(../images/btn-enter-active.png);
} */

/* - - - - - - - - - - */
/*    G E N E R A L    */
/* - - - - - - - - - - */

body {
    align-items: center;
    background-color: var(--cl-primary);
    display: flex;
    font-family: var(--ff-body);
    font-weight: 100;
    font-style: normal;
    justify-content: center;
    min-height: 100vh;

    main {
        background: url(../images/views/1.bg-main.png) no-repeat;
        height: 800px;
        overflow: hidden;
        position: relative;
        width: 400px;

        header {
            position: relative;
            z-index: 3;

            svg.btn-burger {
                cursor: pointer;
                transition: transform 400ms;
                user-select: none;
                position: relative;
                width: 45px;
                height: 100px;

                .line {
                    fill: none;
                    transition: stroke-dasharray 400ms,
                        stroke-dashoffset 400ms;
                    stroke: var(--cl-third);
                    stroke-width: 6;
                    stroke-linecap: round;
                }

                .top {
                    stroke-dasharray: 40 121;
                }

                .bottom {
                    stroke-dasharray: 40 121;
                }
            }

            svg.btn-burger.active {
                transform: rotate(45deg);

                .top {
                    stroke-dashoffset: -68px;
                }

                .bottom {
                    stroke-dashoffset: -68px;
                }
            }
        }

        section.scroll {
            scrollbar-width: none;
            overflow-y: scroll;
            height: 700px;
        }

        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
- - - - -  03 M E N U   H A M B U R G U E S A - - - - - - - 
- - - - - - - - - - - - - - - - - -  - - - - - - - - - - */

        nav.nav {
            background-color: #0009;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            border-radius: 20px;
            flex-direction: column;
            flex-wrap: wrap;
            height: 800px;
            padding-top: 10rem;
            position: absolute;
            top: 0;
            transform: translateY(-60%) scale(0);
            transition: transform 0.4s ease-in-out;
            z-index: 2;
            width: 400px;

            img.tittle-menu {
                margin-block: 2rem;
            }
        }

        nav.nav.active {
            opacity: 1;
            transform: translateY(0%);
        }

        menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a:is(:link, :visited) {
                background: url(../images/btn.png) no-repeat center;
                color: var(--cl-primary);
                font-size: 20px;
                font-family: var(--ff-heading);
                font-weight: 400;
                height: 60px;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 0.6rem;
                padding-left: 20px;
                margin-top: 1.5rem;
                transition: all 0.15s ease-in;
                text-decoration: none;
                width: 300px;
            }

            a:is(:hover) {
                /* background: url(../images/bnt-active.png) no-repeat center;
                transform: scale(1.10) translateY(3px); */
                transform: scale(1.02) translateY(-5px);
                border-radius: 13px;
                color: var(--cl-primary);
                background-color: var(--glow-color);
                box-shadow: 0 0 1em .25em var(--glow-color),
                    0 0 4em 2em var(--glow-spread-color),
                    inset 0 0 .75em .25em var(--glow-color);
            }

            a:is(:active) {
                background: url(../images/bnt-active.png) no-repeat center;
                box-shadow: 0 0 0.6em .25em var(--glow-color),
                    0 0 2.5em 2em var(--glow-spread-color),
                    inset 0 0 .5em .25em var(--glow-color);
            }
        }
    }
}

/* - - - - - - - - - - - - - - - - - -*/
/*          01 - W E L C O M E        */
/* - - - - - - - - - - - - - - - - - -*/

main.welcome {
    header {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-block: 3rem;
    }

    section.owl-carousel {
        div.owl-item {
            display: flex;
            justify-content: center;

            img {
                height: 306px;
            }
        }

        div.owl-nav {
            position: relative;
            top: -188px;
            display: flex;
            justify-content: space-between;
            margin: 0.3rem;

            button {
                transition: transform 0.2s ease-in;

                span {
                    display: flex;
                    height: 44px;
                    width: 34px;
                    text-indent: -9999px;
                }
            }

            button:is(:hover) {
                background-color: transparent;
            }

            button.owl-prev {
                span {
                    background: url(../images/btn-prev.svg) no-repeat center /contain;
                }
            }

            button.owl-prev:hover {
                transform: scale(1.1) translateX(-4px);
            }

            button.owl-next {
                span {
                    background: url(../images/btn-next.svg) no-repeat center / contain;
                }
            }

            button.owl-next:hover {
                transform: scale(1.1) translateX(4px);
            }
        }

        div.owl-dots {
            position: relative;
            top: -46px;

            button {
                transition: trasnform 0.2s ease-in
            }
        }

        button:is(hover) {
            transform: scale(1.1);
        }

        button.owl-dot {
            span {
                background-color: #bf7bffc7;
                height: 16px;
                width: 16px;
            }
        }

        button.owl-dot.active,
        button.owl-dot:is(:hover) {
            span {
                background-color: var(--cl-primary);
                height: 16px;
                width: 16px;
            }
        }
    }

    .img-valhalla {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-block: 0.4rem;
        padding-right: 2rem;
        max-width: 85%;
        height: auto;
        display: inline-block;
        margin-left: 30px;
        padding-right: 2rem;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;

        a:is(:link, :visited) {
            border: .25em solid var(--glow-color);
            padding: 1em 3em;
            color: var(--glow-color);
            font-size: 15px;
            font-weight: bold;
            background-color: var(--btn-color);
            border-radius: 1em;
            outline: none;
            box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 1em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
            text-shadow: 0 0 .5em var(--glow-color);
            position: relative;
            margin-top: -1.9rem;
            transition: all 0.3s;
        }

        /*a:after {
                pointer-events: none;
                content: "";
                position: absolute;
                top: 120%;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: var(--glow-spread-color);
                filter: blur(2em);
                opacity: .7;
                transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
            }*/

        a:is(:hover) {
            transform: scale(1.02) translateY(-5px);
            color: var(--btn-color);
            background-color: var(--glow-color);
            box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 2em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
        }

        a:is(:active) {
            box-shadow: 0 0 0.6em .25em var(--glow-color),
                0 0 2.5em 2em var(--glow-spread-color),
                inset 0 0 .5em .25em var(--glow-color);
        }
    }
}

/* - - - - - - - - - - - - - - - - - -*/
/*       02 - C A T A L O G U E       */
/* - - - - - - - - - - - - - - - - - -*/

main.catalogue {
    background: url(../images/views/2.bg-frame.png) no-repeat;
    height: 800px;
    overflow: hidden;
    width: 400px;

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-block: 2.2rem;
        margin-bottom: 0rem;
    }

    section.scroll {
        
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: -0.5rem;

            input {
                border: none;
                background: url(../images/ico-filter.svg) no-repeat 253px center,
                    url(../images/bg-input-filter.png) no-repeat center / contain;
                color: var(--cl-primary);
                font-size: 20px;
                font-family: var(--ff-heading);
                height: 100px;
                outline: none;
                text-indent: 16px;
                text-align: center;
                width: 300px;
                margin-top: -1rem;

                &::placeholder {
                    opacity: 0.5;
                }
            }
        }
    }

    article {
        h2 {
            display: flex;
            margin-left: 4.6rem;
            margin-top: 0.6rem;
            font-family: var(--ff-body);
            font-size: 18px;
            align-items: center;
            color: var(--cl-primary);
            gap: 0.5rem;
        }


        figure {
            figcaption {
                color: var(--cl-primary);
                font-size: 18px;
                margin-bottom: 1.5rem;
                margin-top: 0rem;
                text-align: center;
                align-items: center;
            }
        }

        a:is(:link, :visited) {
            margin-bottom: 3rem;
            transition: all 0.3s;
            text-decoration: none;
        }

        a:is(:hover) {
            transform: scale(1.20) translateY(5px);
        }

    }

    div.owl-carousel {
        height: 180px;
        margin-block: 0rem;

        div.owl-item {
            display: flex;
            justify-content: center;
            margin-block: 1rem;

            img.slide {
                width: 125px;
                height: 125px;
            }
        }

        div.owl-nav {
            position: relative;
            top: -240px;
            display: flex;
            justify-content: space-between;

            button {
                transition: transform 0.2s ease-in;
            }

            span {
                display: flex;
                color: transparent;
                height: 34px;
                margin-left: 0.7rem;
                margin-right: 0.7rem;
                margin-top: 1.7rem;
                width: 34px;
            }

            button:is(:hover) {
                background-color: transparent;
            }

            button.owl-prev {
                span {
                    background: url(../images/btn-prev.svg) no-repeat center / contain;
                }
            }

            button.owl-prev:hover {
                transform: scale(1) translateX(-4px);
            }

            button.owl-next {
                span {
                    background: url(../images/btn-next.svg) no-repeat center / contain;
                }
            }

            button.owl-next:hover {
                transform: scale(1) translateX(4px);
            }
        }
    }
}

/* - - - - - - - - - - - - - - - - - -*/
/*       2.1 - V I E W  G A M E       */
/* - - - - - - - - - - - - - - - - - -*/

main.View-game {
    background: url(../images/views/2.bg-frame.png) no-repeat;
    height: 800px;
    overflow: hidden;
    width: 400px;

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-block: 20px;
        margin-bottom: 5px;

        h1 {
            font-family: var(--ff-heading);
            font-size: 30px;
            color: var(--cl-primary);
            text-align: center;
        }
    }

    section {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        article {
            width: 251px;
            gap: 1rem;
            display: flex;
            line-height: 2.2rem;
            flex-direction: column;
            margin-top: 10px;

            div.row {
                display: flex;
                align-items: center;
                justify-content: space-between;

                div.column {
                    h4 {
                        font-family: var(--ff-body);
                        font-size: 18px;
                        color: var(--cl-primary);
                        margin-bottom: 5px;
                    }

                    p {
                        font-family: var(--ff-body);
                        color: var(--cl-primary);
                        font-size: 16px;
                        line-height: 22px;
                        text-align: justify;

                        &.price {
                            color: var(--cl-primary);
                            font-family: var(--ff-body);
                            font-size: 40px;
                            margin-top: -1.0rem;
                        }
                    }
                }
            }
        }

        footer {

            a:is(:link, :visited) {
                background: url(../images/btn2.png) no-repeat center;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                transition: all 0.15s ease-in;
                width: 300px;

            }

            a:is(:hover) {
                transform: scale(1.02) translateY(-5px);
                border-radius: 15px;
                background-color: var(--glow-color);
                box-shadow: 0 0 1em .25em var(--glow-color),
                    0 0 4em 1em var(--glow-spread-color),
                    inset 0 0 .75em .25em var(--glow-color);
            }

            a:is(:active) {
                background: url(../images/bnt-active.png) no-repeat center;
                box-shadow: 0 0 0.6em .25em var(--glow-color),
                    0 0 2.5em 2em var(--glow-spread-color),
                    inset 0 0 .5em .25em var(--glow-color);
            }
        }
    }
}

/*- - - - - - - - - - - - - - - - - - -*/
/*            0 3 L O G I N            */
/*- - - - - - - - - - - - - - - - - - -*/

main.login {

    background: url(../images/views/2.bg-frame.png) no-repeat;
    height: 800px;
    overflow: hidden;
    width: 400px;
    

    .btn-back {
        visibility: hidden;
        pointer-events: none;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-block: 24px;
        margin-bottom: 4.5rem;

        /* h1 {
            font-family: var(--ff-heading);
            color: #ffffff;
            font-size: 30px;
            text-align: center;
        } */
    }

    section {
    
        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
    
            div.form-group {
                border: 2px solid red;
                width: 300px;
                display: flex;
                flex-direction: column;
                gap: 0.6rem;
                flex-wrap: wrap;
                position: relative;
    
                label {
                    display: flex;
                    color: var(--cl-second);
                    font-family: var(--ff-body);
                    font-size: 20px;
                    
                    gap: 10px;
                    margin-bottom: -10px;
                }
    
                input {
                    height: 60px;
                    width: 300px;
                    border: none;
                    outline: none;
                    border-radius: 15px;
                    opacity: 10%;
                    font-size: 18px;
                    color: var(--cl-primary);
                    text-indent: 1rem;
                }
    
                img.ico-eye {
                    position: absolute;
                    cursor: pointer;
                    top: 62px;
                    right: 20px;
                }
    
            }
        }
    }
}


/*- - - - - - - - - - - - - - - - - - -*/
/*- - - - 4  R E G I S T E R - - - - - */
/*- - - - - - - - - - - - - - - - - - -*/

main.register {
    background: url(..//images/views/2.bg-frame.png) no-repeat;
    height: 800px;
    overflow: hidden;
    width: 400px;
    

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-block: 24px;
        margin-bottom: -12px;

        /* h1 {
            font-family: var(--ff-heading);
            color: #ffffff;
            font-size: 30px;
            text-align: center;
        } */
    }

    section {

        
        form {
            padding-bottom:60px;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
            h3 {
                font-family: var(--ff-body);
                font-size: 20px;
                color: #666;
                font-style: normal;
                font-weight: 100;
                margin-top: 15px;
    
                img {
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 5px;
                    margin-left: 4.3rem;
                    
                }
            }
    
            input {
                height: 60px;
                width: 300px;
                border-radius: 15px;
                border: none;
                display: flex;
                margin-left: auto;
                margin-right: auto;
                margin-top: -2px;
                padding: 30px;
                font-family: var(--ff-special);
                font-size: 16px;
                font-weight: 500;
                font-style: italic;
                outline: none;
                background-color: rgba(255, 255, 255, 0.1);
                text-decoration-color: #ffffff;
            }

            input::placeholder {
                color: var(--cl-primary);    
            }

            input:active, input:focus{
                background-image: url(../images/input-active.png);
                color: var(--cl-seventh);
                font-weight: 500;
            }

            a:is(:link, :visited) {
                background: url(../images/btn3.png) no-repeat;
                width: 308px;
                height: 64px;
                display: flex;
                margin-right: auto;
                margin-left: auto;
                margin-top: 35px;
                justify-content: center;
                align-items: center;
                transition: all 0.15s ease-in;
            }

            a:is(:hover) {
                transform: scale(1.02) translateY(-5px);
                border-radius: 15px;
                background-color: var(--glow-color);
                box-shadow: 0 0 1em .25em var(--glow-color),
                    0 0 4em 1em var(--glow-spread-color),
                    inset 0 0 .75em .25em var(--glow-color);
            }

            a:is(:active) {
                background: url(../images/bnt-active.png) no-repeat center;
                box-shadow: 0 0 0.6em .25em var(--glow-color),
                    0 0 2.5em 2em var(--glow-spread-color),
                    inset 0 0 .5em .25em var(--glow-color);
            }
        }
    }
}