/* - - - - - - - - - - - 
/* V A R I A B L E S */
/* - - - - - - - - - - */
:root{
    --ff-heading: "Sansita Swashed", system-ui;
    --ff-body: "Sahitya", serif;
    --ff-special: "Roboto Flex", sans-serif;

    --cl-primary: #00ffff;
    --cl-second: #ffffff;
    --cl-third: #ff5de2;
    --cl-fourth: #1c1c2c;
    --cl-fiventh: #000000;
    --cl-sixth: #f43c04;
    --cl-seventh: #0c0c24;

}
/* - - - - - - - - - */
/* G E N E R A L */
/* - - - - - - - - - */
body{
    background-color: var(--cl-primary);
    font-family: var(--ff-body);
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    main {
        background: url(../images/1.bg-main.png) no-repeat;
        height: 800px;
        overflow: hidden;
        width: 400px;

    }
}
/* - - - - - - - - - */
/* 01 - W E L C O M E */
/* - - - - - - - - - */
/*  */